* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background-color: rgb(37, 37, 37);
}

/*HEADER*/
.logo {
  width: 80px;
}

.superior {
  background-color: black;
  color: white;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sininteres {
  margin-bottom: 0;
}

.fondoheader {
  background-color: rgb(58, 56, 56);
}

.miboton {
  background-color: blue;
  color: white;
}
.miboton:hover {
  background-color: white;
  color: blue;
  border: 2px solid rgb(255, 247, 247);
}

.botoncito {
  background-color: white;
}

.inferior {
  background-color: black;
  color: white;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.envio_gratis {
  margin-bottom: 0;
}

/*centro*/
@keyframes texto {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
.primera {
  width: 110%;
}

.logocentral {
  width: 80%;
}

.remeralisa {
  width: 90%;
}

.enlaces {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

.texto1 {
  background: radial-gradient(rgb(119, 119, 119), black);
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.texto_central {
  animation-name: texto;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  font-size: 4rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: white;
}

/*footer*/
.info {
  background-color: rgb(77, 74, 74);
  display: flex;
  justify-content: center;
}

.info_comp {
  color: white;
  margin-top: 3rem;
}

.ayuda {
  color: white;
  margin-top: 3rem;
}

.contactanos {
  color: white;
  margin-top: 3rem;
}

.camioncito {
  width: 20%;
}

.cont-envios {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.cont-pagos {
  color: white;
  text-align: center;
  padding-top: 2rem;
}

.descuento_porciento {
  width: 100%;
}

.ultimos_descuentos {
  margin-top: 3rem;
  margin-left: 10rem;
  margin-bottom: 3rem;
}

/*NOSOTROS*/
.contenido {
  background-image: url(../img/fondo\ footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.imagen4 {
  width: 80%;
  margin-top: 3rem;
  padding-left: 3rem;
}

.cont_texto {
  margin-top: 3rem;
  padding-right: 5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
}

.titulodecontenido {
  color: white;
  text-align: center;
  font-size: 3rem;
  text-decoration: underline;
}

.parrafo1 {
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

/*REMERAS*/
.central {
  margin-top: 3rem;
  margin-left: 2rem;
}

.remera_uno {
  width: 270px;
  height: 350px;
}

.texto_uno {
  display: flex;
  flex-direction: column;
}

.precio_uno {
  color: white;
  text-align: center;
}

.remera_dos {
  width: 270px;
  height: 350px;
}

.texto_dos {
  display: flex;
  flex-direction: column;
}

.precio_dos {
  color: white;
  text-align: center;
}

.remera_tres {
  width: 270px;
  height: 350px;
}

.texto_tres {
  display: flex;
  flex-direction: column;
}

.precio_tres {
  color: white;
  text-align: center;
}

.remera_cuatro {
  width: 270px;
  height: 350px;
}

.texto_cuatro {
  display: flex;
  flex-direction: column;
}

.precio_cuatro {
  color: white;
  text-align: center;
}

.remera_cinco {
  width: 270px;
  height: 350px;
}

.texto_cinco {
  display: flex;
  flex-direction: column;
}

.precio_cinco {
  color: white;
  text-align: center;
}

.remera_seis {
  width: 270px;
  height: 350px;
}

.texto_seis {
  display: flex;
  flex-direction: column;
}

.precio_seis {
  color: white;
  text-align: center;
}

.remera_siete {
  width: 270px;
  height: 350px;
}

.texto_siete {
  display: flex;
  flex-direction: column;
}

.precio_siete {
  color: white;
  text-align: center;
}

.remera_ocho {
  width: 270px;
  height: 350px;
}

.texto_ocho {
  display: flex;
  flex-direction: column;
}

.precio_ocho {
  color: white;
  text-align: center;
}

.remera_nueve {
  width: 270px;
  height: 350px;
}

.texto_nueve {
  display: flex;
  flex-direction: column;
}

.precio_nueve {
  color: white;
  text-align: center;
}

.remera_diez {
  width: 270px;
  height: 350px;
}

.texto_diez {
  display: flex;
  flex-direction: column;
}

.precio_diez {
  color: white;
  text-align: center;
}

.remera_once {
  width: 270px;
  height: 350px;
}

.texto_once {
  display: flex;
  flex-direction: column;
}

.precio_once {
  color: white;
  text-align: center;
}

.remera_doce {
  width: 270px;
  height: 350px;
}

.texto_doce {
  display: flex;
  flex-direction: column;
}

.precio_doce {
  color: white;
  text-align: center;
}

/*TALLES*/
.tabla {
  font-size: 1.8rem;
  color: white;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-top: 3rem;
}

.talleremera {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tablaremera {
  width: 50%;
  padding-top: 5rem;
}

.tallebuzo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tablabuzos {
  width: 50%;
  padding-top: 5rem;
  margin-bottom: 3rem;
}

/*CONTACTO*/
.lisas {
  width: 90%;
  margin-top: 8rem;
  padding-left: 2rem;
  margin-bottom: 8rem;
}

.formulario {
  margin-top: 5rem;
  padding-right: 4rem;
  padding-bottom: 3rem;
}

.contacto {
  color: white;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 3rem;
}

.escribinos {
  color: white;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 1.5rem;
}

.email {
  color: white;
  font-size: 1rem;
}

.mensaje {
  color: white;
  font-size: 1rem;
}

.nombre {
  color: white;
  font-size: 1rem;
}

.asunto {
  color: white;
  font-size: 1rem;
}

/*MEDIA*/
@media (max-width: 600px) {
  .inferior {
    font-size: 0.6rem;
  }
  .texto_central {
    font-size: 2rem;
  }
  .ultimos_descuentos {
    margin-top: 3rem;
    margin-left: 1rem;
    margin-bottom: 3rem;
  }
  .desc_buzos {
    padding-top: 3rem;
  }
  .titulodecontenido {
    font-size: 2rem;
  }
  .imagen4 {
    padding-left: 6rem;
  }
  .parrafo1 {
    font-size: 0.8rem;
  }
  .escribinos {
    font-size: 1.2rem;
  }
  .lisas {
    padding-left: 1rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
  }
  .cont_texto {
    padding-right: 1rem;
  }
  .tabla {
    font-size: 1.5rem;
  }
  .tablaremera {
    width: 80%;
    padding-top: 2rem;
  }
  .tablabuzos {
    width: 80%;
    padding-top: 3rem;
  }
  .formulario {
    padding-right: 0.5rem;
  }
  .info {
    text-align: center;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .texto_central {
    font-size: 3rem;
  }
  .ultimos_descuentos {
    margin-top: 3rem;
    margin-left: 1rem;
    margin-bottom: 3rem;
  }
  .desc_buzos {
    padding-top: 3rem;
  }
  .titulodecontenido {
    font-size: 3rem;
  }
  .imagen4 {
    padding-left: 8rem;
  }
  .parrafo1 {
    font-size: 1.3rem;
  }
  .escribinos {
    font-size: 1.2rem;
  }
  .lisas {
    padding-left: 1rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
  }
  .cont_texto {
    padding-right: 1rem;
  }
  .tabla {
    font-size: 1.5rem;
  }
  .tablaremera {
    width: 60%;
    padding-top: 2rem;
  }
  .tablabuzos {
    width: 60%;
    padding-top: 3rem;
  }
  .formulario {
    padding-right: 1rem;
  }
  .info {
    text-align: center;
  }
}

/*# sourceMappingURL=estilo.css.map */
