/*CONTACTO*/

.lisas {
	width: 90%;
	margin-top: 8rem;
	padding-left: 2rem;
	margin-bottom: 8rem;
}
.formulario {
	margin-top: 5rem;
	padding-right: 4rem;
	padding-bottom: 3rem;
}
.contacto {
	color: $color_1;
	text-align: center;
	font-family: $font-family_1;
	font-weight: bold;
	font-size: 3rem;
}
.escribinos {
	color: $color_1;
	text-align: center;
	font-family: $font-family_1;
	font-weight: bold;
	font-size: 1.5rem;
}
.email {
	color: $color_1;
	font-size: 1rem;
}
.mensaje {
	color: $color_1;
	font-size: 1rem;
}
.nombre {
	color: $color_1;
	font-size: 1rem;
}
.asunto {
	color: $color_1;
	font-size: 1rem;
}