/*TALLES*/

.tabla {
    font-size: 1.8rem;
    color: $color_1;
    text-align: center;
    font-family: $font-family_2;
    padding-top: 3rem;
}

.talleremera {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tablaremera {
    width: 50%;
    padding-top: 5rem;
}

.tallebuzo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tablabuzos {
    width: 50%;
    padding-top: 5rem;
    margin-bottom: 3rem;
}